# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/
venv/

# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db